source https://nuget.org/api/v2
redirects on

// Build
nuget FAKE
nuget FSharp.Formatting == 2.14.5-alpha1

// Project
nuget FSharp.Core
nuget Mono.Cecil

//Tests
nuget Nuget.CommandLine
nuget NUnit
nuget NUnit.Runners
nuget Unquote
