source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Formatting
nuget Nuget.CommandLine
nuget NUnit
nuget NUnit.Runners
nuget Unquote
nuget Yaaf.FSharp.Scripting
nuget RazorEngine
nuget Mono.Cecil